.nav-logo{
    width: 50px;
  }
  
  .navbar-main {
    background: #006699;
    * {
      user-select: none;
    }
  }
  
  .nav-item {
    letter-spacing: 0.15em;
    border-radius: 5px;
  }
  
  .navbar-main .active {
    background: #00537c;
  }
  
  .navbar.navbar-dark .breadcrumb .nav-item.active>.nav-link, .navbar.navbar-dark .navbar-nav .nav-item.active>.nav-link{
    background-color: transparent;
  }
  
  .nav-item {
    overflow: hidden;
    /*border: solid white 1px;*/
  }
  
  .navbar-dark{
    .navbar-toggler{
        color: rgba(255, 255, 255, 0.8) !important;
        font-size: 1.7rem;
    }
  
    .navbar-toggler:hover{
        color: rgba(255, 255, 255, 1) !important;
    }
  
    .navbar-nav{
        .nav-link{
            color: rgba(255, 255, 255, 0.8) !important;
        }
  
        .nav-link:hover{
            color: rgba(255, 255, 255, 1) !important;
        }
  
        .active{
            color: rgba(255, 255, 255, 0.9) !important;
        }
    }
  }
  
  /*
  .navbar-brand {
    transform: scale(1);
    transition: transform 0.5s ease-in-out;
  }
  .navbar-brand:hover {
    transform: scale(1.1);
  }
  */
  
  .card-header a{
    color: #006699;
  }