@import '../../../common/css/variables.scss';

.page-footer{
    background-color: #006699;
    position: absolute;
    bottom: 0;
    width: 100%;
 }
 
 .footer-copyright{
     background-color: transparent !important;
     font-size: .9rem;
 }
 
 .footer-copyright{
     color: rgba(255,255,255,0.6);
 }

/** 
 * SPDX-License-Identifier: (EUPL-1.2)
 * Copyright © 2021 Florian Kleber
 */
